.vercel
*.swo

# Dependencies
node_modules/
/frontend/node_modules/
/backend/node_modules/
/.pnp
.pnp.js

# Cache
.cache/
**/.cache/
**/node_modules/.cache/

# Build outputs
/build/
/frontend/build/
/backend/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/backend/venv/
/venv/

# IDE
.idea/
.vscode/
*.swp

# System Files
.DS_Store
Thumbs.db
